<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>iBuy Shopping Center</title>
</head>
<body>
	<h1>Welcome to iBuy </h1>
<p th:text="${'Hi ' + session.user.name + '!'}"></p>
<div></div>
<div align="right">
		<a th:href="@{/Logout}">Logout</a>
</div>

<p>Menu</p>
<ol>
  <li><a th:href="@{/GoToHome}">Home Page</a></li>
  <li><a th:href="@{/ShowOrders}">My Orders</a></li>
  <li><a th:href="@{/ShowCart}">My Shopping Cart</a></li>
</ol>
	
	<p>Your shopping cart</p>
		<table>
		<thead>
			<tr>
				<th>Supplier</th>
				<th>Product List</th>
				<th>Total Cost</th>
				<th>Shipping Fee</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${session.cart}" >
				<td th:text="${c.name}"></td>
				<td>
				<table>
		    	<tr>
		    	<th>Product Code</th>
		    	<th>Product Name</th>
		    	<th>Qta</th>
		    	</tr>
		    	<tr th:each="i : ${session.items}" th:if="${i.supplierid} == ${c.supplierid}">
		    	<td th:text="${i.productid}"></td>
		    	<td th:text="${i.name}">
		    	<td th:text="${i.qta}">
		    	<p th:text=" ${errorMsg}"></p>
		    	</td>	
		    	</tr>
		    	</table> 
				</td>
				<td th:text="${c.totalCost}"></td>
				<td th:text="${c.fee}"></td>
				<td>
				<form th:action="@{/CreateOrder}" method="POST">
		    	<input type="submit" name="checkout" value="Checkout!">
		    	<input type="hidden" name="supplierid" value="${c.supplierid}">
		    	</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>