<!DOCTYPE html>	
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iBuy Shopping Center</title>
<link rel="stylesheet" type="text/css" media="all" href="../css/mystyle.css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<h1> <a th:href="@{/GoToHome}"><img src="../img/Logo.png" th:attr="src=@{/img/Logo.png}" class="pages"></a></h1>

<ul>
  <li><a th:href="@{/GoToHome}" class="active">Home Page</a></li>
  <li><a th:href="@{/Orders}">My Orders</a></li>
  <li><a th:href="@{/ShoppingCart}">My Shopping Cart</a></li>
  <li class="welcome" th:text="${'Welcome back ' + session.user.name + '! Enjoy your shopping!'}"></li>
  <li class="logout"><a th:href="@{/Logout}" class="logout">Logout</a></li>
</ul>


<div id="err_msg" th:text="${MessageOk}"></div>
<div id="nav-search">
<form  th:action="@{/ShowResults}" method="GET">
<div class="nav-left">
<select class="keyword" id="menu" name="category">
    <option value="Initial">Select a category:</option>
    <option th:each="cat,iterStat : ${categories}" th:value="${cat}"  th:text="${cat}"></option>
</select>
</div>
<div class="nav-right">

  <input type="text" placeholder="Find your product..." name="keyword" class="keyword">
  <input type="submit" value="Find" class="search">
</form>
<p id="err_msg" th:if="${param.retry} != null" th:text="${'Sorry! No items found...'}"></p>
</div>
</div>

<p class="text">Products you recently seen or currently in offer...</p>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>See Details</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${products != null}" th:each="p : ${products}">
				<td th:text="${p.name}"></td>
				<td th:text="${p.description }"></td>
				<td><a th:href="@{/ProductDetail(keyword=,code=${p.code},category=${p.category})}">Show Details</a></td>
			</tr>
			<tr th:if="${default_prods != null}" th:each="d : ${default_prods}">
				<td th:text="${d.name}"></td>
				<td th:text="${d.description }"></td>
				<td><a th:href="@{/ProductDetail(keyword=,code=${d.code},category=${d.category})}">Show Details</a></td>
			</tr>
			
		</tbody>
	</table>
</body>
</html>