<!DOCTYPE html>	
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>iBuy Shopping Center</title>
</head>
<body>
	<h1>Welcome to iBuy </h1>
<p th:text="${'Hi ' + session.user.name + '!'}"></p>
<div></div>
<div align="right">
		<a th:href="@{/Logout}">Logout</a>
</div>
<form class="search_bar" th:action="@{/ShowResults}" method=GET>
  <input type="text" placeholder="Insert a keyword..." name="keyword">
  <button type="submit" value="find"></button>
</form>
<div></div>
<p>Products you recently seen or you may like...</p>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${products}">
				<td th:text="${p.name}"></td>
				<td th:text="${p.description }"></td>
			</tr>
			<tr th:each="d : ${default_prods}">
				<td th:text="${d.name}"></td>
				<td th:text="${d.description }"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>